base(target='_top')

ul
  li: a(href='//twitter.com/ycwhk') @ycwhk
  li
    a(href='//codepen.io/ycw/pen/GRWzveP') 61
    |  | 
    a(href='//codepen.io/ycw/pen/NWpozxP') 62
    |  | 
    a(href='//codepen.io/ycw/pen/YzZBjPz') 63